ol.spread {
  display: grid;
  grid-template-areas: "deck";
  grid-auto-flow: column;
  margin: 0.25em;
  padding: 0;
  justify-items: center;
  counter-reset: dealt;
}
ol.spread > li {
  display: inline-flex;
  grid-area: deck;
  box-sizing: border-box;
  height: 10.5em;
  width: 6em;
  padding: 0.375em 0.25em;
  border: 1px solid black;
  border-radius: 0.375em;
  background: white;
  overflow: hidden;
}
ol.spread > li > img {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background: black;
  border: 1px solid #333;
  border-radius: 0.125em;
}

ol.spread > li.back { z-index: 2; padding: 0; }
ol.spread > li.back > img { border: none; }

ol.spread > li.dealt:nth-of-type(2) { grid-area: a; }
ol.spread > li.dealt:nth-of-type(3) { grid-area: b; }
ol.spread > li.dealt:nth-of-type(4) { grid-area: c; }
ol.spread > li.dealt:nth-of-type(5) { grid-area: d; }
ol.spread > li.dealt:nth-of-type(6) { grid-area: e; }
ol.spread > li.dealt:nth-of-type(7) { grid-area: f; }
ol.spread > li.dealt:nth-of-type(8) { grid-area: g; }
ol.spread > li.dealt:nth-of-type(9) { grid-area: h; }
ol.spread > li.dealt:nth-of-type(10) { grid-area: i; }
ol.spread > li.dealt:nth-of-type(11) { grid-area: j; }

ol.spread.one,
ol.spread.daily {
  grid-template-areas:
    "deck . . ."
    ".    . a .";
  grid-template-columns: auto 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0.25em;
}

ol.spread.three,
ol.spread.standard {
  grid-template-areas:
    "deck . . ."
    ".    a b c";
  grid-template-columns: auto 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0.25em;
}

ol.spread.five,
ol.spread.cross {
  grid-template-areas:
    "deck . e ."
    ".    b a c"
    ".    . d .";
  grid-template-columns: auto 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 0.25em;
}

ol.spread.celtic-cross {
  font-size: 2vmin;
  grid-template-areas:
    "deck . . . j"
    ".    . e . i"
    ".    c a d h"
    ".    . f . g";
  grid-template-columns: auto 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 0.25em;
}
ol.spread.celtic-cross > li.dealt:nth-child(3) { grid-area: a; transform: rotate(270deg); }